.background {
  width: 100%;
  height: 100vh;
  background-image: url("Images/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  background: #3a4452;
  padding: 20px;
  border-radius: 10px;
  margin-top: 9%;
  position: absolute;
}
.button1 {
  color: white;
  border-radius: 12px;
  border: none;
  height: 30px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  margin-left: -76%;
  margin-top: -43%;
  background-color: black;
}
.buttonLight {
  color: black !important;
  background-color: white !important;
}

.light input {
  background-color: white !important;
  color: black !important;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.2);
}
.light {
  background-color: #fff !important;
}

#heading p {
  font-size: 50px;
  font-weight: bolder;
  margin-top: -130%;
  margin-left: 230%;
  color: rgb(28, 2, 2);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#heading p:hover {
  font-size: 51px;
  color: lightblue;
}
.calculator form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.2);
  background: transparent;
  font-size: 21px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}
/*form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;  
}
form .display input{
    text-align: right;
     font-size: 45px;
     width: 100%;  
}*/
form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
form .display input {
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}
form input.equal {  
  width: 145px;
}
form input.operator {
  color: #33ffd8;
}


/*@media screen and (max-width: 1300px) {
  #heading p {
    margin-left: 188%;
  }
  .button1 {
   margin-left: -76%;
   margin-top: -45%;
  }
}
@media screen and (max-width: 1200px) {
  #heading p {
    margin-left: 188%;
  }
  .button1 {
   margin-left: -74%;
   margin-top: -46%;
  }
}
@media screen and (max-width: 1100px) {
  #heading p {
    margin-left: 159%;
    margin-top: -128%;
  }
  .button1 {
   margin-left: -72%;
   margin-top: -52%;
  }
}
@media screen and (max-width: 1000px) {
  #heading p {
    margin-left: 140%;
    margin-top: -130%;
  }
  .button1 {
    margin-left: 10%;
   margin-top: 20%;
  }
}
@media screen and (max-width: 1024px) {
  #heading p {
    margin-left: -37%;
    margin-top: -130%;
  }
  .button1 {
    margin-left: 10%;
   margin-top: 20%;
  }
}
@media screen and (max-width: 900px) {
  #heading p {
    margin-left: 133%;
    margin-top: -130%;
  }
  .button1 {
    margin-left: 10%;
   margin-top: 20%;
  }
}
@media screen and (max-width: 800px) {
  #heading p {
    margin-left: 117%;
    margin-top: -132%;
  }
  .button1 {
   margin-left: 10%;
   margin-top: 20%;
  }
}
@media screen and (max-width: 700px) {
  #heading p {
    margin-left: 103%;
    margin-top: -134%;
  }
  .button1 {
    margin-left: 10%;
   margin-top: 20%;
  }
  }
@media screen and (max-width: 600px) {
  #heading p {
    margin-left: 87%;
    margin-top: -136%;
  }
  .button1 {
   margin-left: 10%;
   margin-top: 20%;
  }
  }
@media screen and (max-width: 500px) {
  #heading p {
    margin-left: 71%;
    margin-top: -138%;
  }
  .button1 {
    margin-left: 10%;
   margin-top: 20%;
  }
  }
@media screen and (max-width: 400px) {
  #heading p {
    margin-left: 54%;
    margin-top: -138%;
  }
  .button1 {
    margin-left: 10%;
    margin-left: 10%;
  }
  }
  @media screen and (max-width: 375px) {
  #heading p {
    margin-left: -15%;
    margin-top: -130%;
  }
  .button1 {
    margin-left: 10%;
   margin-top: 20%;
  }
}
  @media screen and (max-width: 300px) {
  #heading p {
    margin-left: 71%;
    margin-top: -168%;
  }
  .button1 {
       margin-top: 20%;
        margin-top: 20%;
  }
  }